<main class="container">
<div class="jumbotron-mt-4">
    <h1 class="display-4">Guitar Store</h1>
    <p class="lead">la mas Grande comercializadora de Instrumentos musicales</p>
    <hr class="my-4">
    <p>Somos una comercializadora nacida al comienzo de los 2000 y que se especializa en instrumentos de cuerda de las mejores marcas, fundada en Medellin por 3 jovenes emprendedores</p>
    <a href="#" class="formulario.submit">Volver al Inicio</a>
</div>
<br>
<br>
</main>