<div class="container">
        <header class="row">
            <div class="col -lg-12 text-center">
                <img src="/img/guitarra.png" alt="">
            </div>
        </header>
    </div>

    <div class="container-fluid" id="about">
        <div class="row bg-dark text-white p-5 text-center">
            <div class="col -sm-6">
                <i class="fab fa-napster fa-10x"></i>
            </div>
            <div class="col-sm-6">
                <h3> la mayor tienda de instrumentos de Latinoamerica</h3>
                <p> somos los mayores distribuidores de todo lo relacionado con guitarras</p>
            </div>
        </div>
    </div>
    